.toggler {
  display: none;
}

.navbar .toggler:checked {
  & + .navbar-brand .burger {
    & span:nth-child(1) {
      -webkit-transform: translateY(5px) rotate(45deg);
      transform: translateY(5px) rotate(45deg);
    }
    & span:nth-child(2) {
      opacity: 0;
    }
    & span:nth-child(3){
      -webkit-transform: translateY(-5px) rotate(-45deg);
      transform: translateY(-5px) rotate(-45deg);
    }
  }
  & ~ .navbar-menu {
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}
