!!!{lang: :en}
%html{lang: :en}
  %head
    %link{rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon"}
    %link{rel: "icon", href: "/favicon.ico", type: "image/x-icon"}
    %meta{charset: 'UTF-8'}
    %meta{name: :viewport, content: "width=device-width, initial-scale=1"}
    %title {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
    %meta{name: :description, content: "{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ site.description }} {% endif %}"}

    :css
      a { color: #4D994D; }
      a:visited { color: #336633; }
      body { margin: 3%; }
      #logo {
        float: right;
        margin: 0 0 0 2%;
      }
      h1 { 
        padding: 0;
        margin-bottom: 0;
      }
      #subtitle {
        color: #999999;
        font-weight: bold;
        font-size: 1.1em;
        }
      header {
        margin-bottom: 2em;
      }
  %body

    %img#logo{src: 'images/schleuder.png'}

    {{ content }}

